body {
  background-color: black;
  color: white;
  font-family: monospace;
}

#grounds * {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
}

#testspandiv {
  position: absolute;
}
#canvas {
  position:absolute;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  width: 98vmin;
  height: 98vmin;
  max-width: 99vw;
  max-height: 99vh;
  top: 0%;
  left: calc(50% - 99vmin);
  overflow: hidden;
}

#parent {
  position: relative;
  background-color: rgba(0, 255, 255, .2);
}

#canvas,
#canvas * {
}

@keyframes radical {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) translateY(-70px);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg) translateY(-70px);
  }
}

#player {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: 50%;
  top: 50vmin;
}

#playermirror {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  background-color: red;
  background-image: url('textures/awesome guy.png');
  animation: radical 2s linear infinite;
  background-size: 100% 100%;
}

.mainWall {
  background-color: grey;
  background-image: url('textures/slate.png');
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
  transform: translateZ(-35px);
}

.topWall {
  background-color: MediumSeaGreen;
  background-image: url('textures/grass.jpg');
  transform: rotateX(90deg) translateY(-30px);
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
}
.bottomWall {
  background-color: red;
  background-image: url('textures/dirt.png');
  transform: rotateX(90deg) translateY(-30px);
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
}

.leftWall {
  background-color: purple;
  background-image: url('textures/dirt.png');
  transform: rotateY(90deg) translateX(35px) translateZ(-35px);
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
}

.rightWall {
  background-color: purple;
  transform-origin: 100% 0%;
  background-image: url('textures/dirt.png');
  transform: rotateY(90deg)translateX(70px) translateZ(-70px);
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
}

#grounds {
  /*position: absolute;*/
  perspective: 150px;
  perspective-origin: 50% 100%;
  transform-style: preserve-3d;
}
