body {
  background-color: black;
  color: white;
  font-family: monospace;
  overflow: hidden;
}

#grounds * {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
#testspandiv {
  position: absolute;
}
#canvas {
  position:absolute;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  width: 98vmin;
  height: 98vmin;
  zoom: 25%;
  max-width: 99vw;
  max-height: 99vh;
  top: 0%;
  left: calc(50vw - 49vmin);
  overflow: hidden;
}
#something {
  transform: scale(4) translateX(37.55vw);
  background-color: green;
  z-index: 10000;
}
#parent {
  position: relative;
  background-color: rgba(0, 255, 255, .2);
}

#testdiv {
  position: absolute;
  left: calc(50vw - 5px);
  top: calc(50vh - 5px);
  width: 10px;
  height: 10px;
  background-color: green;
  z-index: 100000;
}

#canvas, #canvas * {
}

@keyframes radical {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) translateY(-70px);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg) translateY(-70px);
  }
}

.collider {
  visibility: hidden !important;
}

#options {
  float: right;
}

#player {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  left: 45vmin;
  top: 47vmin;
}

#playermirror {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  background-color: red;
  background-image: url('textures/awesome guy.png');
  animation: radical 2s linear infinite;
  background-size: 100% 100%;
}

.mainWall {
  background-color: grey;
  background-image: url('textures/slate.png');
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
  transform: translateZ(-35px);
}

.topWall {
  background-color: MediumSeaGreen;
  background-image: url('textures/grass.jpg');
  transform: rotateX(90deg) translateY(-30px);
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
}
.bottomWall {
  background-color: red;
  background-image: url('textures/dirt.png');
  transform: rotateX(90deg) translateY(-30px);
  background-repeat: repeat;
  background-size: 10vmin 50vmin;
}

.leftWall {
  background-color: purple;
  background-image: url('textures/dirt.png');
  background-repeat: repeat;
  background-size: 10vmin 50vmin;
}

.rightWall {
  background-color: purple;
  transform-origin: 100% 0%;
  background-image: url('textures/dirt.png');
  background-repeat: repeat;
  background-size: 10vmin 50vmin;
}

@keyframes perspectiveAnim {
  0%{perspective: 100px;}
  100%{perspective: 300px;}
}
#grounds {
  /*position: absolute;*/
  perspective: 150px;
  perspective-origin: 50% 100%;
  transform-style: preserve-3d;
  /*animation: perspectiveAnim 1s linear infinite;*/
  animation-direction: alternate;
}

.topBackground {
  background-color: MediumSeaGreen;
  transform: rotateX(90deg) translateY(-300px) translateZ(70px);
}
.bottomBackground {
  background-color: red;
  transform: rotateX(90deg) translateY(-300px) translateZ(70px);
}
.leftBackground {
  background-color: purple;
  transform: rotateY(90deg) translateX(300px) translateZ(-100px);
}
.rightBackground {
  background-color: purple;
  transform-origin: 100% 0%;
  transform: rotateY(90deg)translateX(400px) translateZ(-200px);
}

.mainBackground {
  transform: translateZ(-201px);
  background-color: coral;
}

.spikesParent {
  background-color: grey;
  background-image: url('textures/slate.png');
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
  transform: translateZ(-35px);
  opacity: 50%;
}
  /*gearing up to write the stupidest shit in the world. God forbid there's a better way to do this*/
.spikes {
  background-color: grey;
  background-repeat: repeat;
  background-size: 50vmin 50vmin;
  transform: translateZ(-35px) rotatey(0deg);
  background: radial-gradient(at 60% 20%, rgba(255,255,255,1),rgba(167,194,255,1),rgba(16,16,85,1));
  //opacity: 0%;
}

/*
.spikes1 {
  //transform: translateZ(-35px) rotatey(0deg);
}

.spikes2 {
  //transform: translateZ(-35px) rotatey(51.428deg);
}

.spikes3 {
  //transform: translateZ(-35px) rotatey(102.857deg);
}

.spikes4 {
  //transform: translateZ(-35px) rotatey(154.285deg);
}

.spikes5 {
  //transform: translateZ(-35px) rotatey(205.714deg);
}

.spikes6 {
  //transform: translateZ(-35px) rotatey(257.142deg);
}

.spikes7 {
  //transform: translateZ(-35px) rotatey(308.571deg);
}
*/